<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="card p-5">
            <h3><%=posts[i].title%></h3>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <p>Likes: <%= posts[i].likes %></p>
            <% for(var j=0; j<comments.length; j++) {%>
              <% if( comments[j].post  == `${posts[i]._id}` ) {%>
              <p><%= comments[j].comment %></p>
             <% console.log(posts[i]._id )%>
             <% console.log(comments[j].post )%>
           
             <%}%>
             <% } %>
             <% } %>
          </li>
          
         
        
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>